{% extends "AppLibreria/base.html" %}
{% load static %}

{% block sections %}
<h1>Subir datos</h1>
{% if form.errors %}
<p>Estan mal los datos</p>
{% endif %}

<form action="" method="POST">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" value="Enviar">
    
</form>
<h1>Buscar datos con email</h1>
<form action="/app/response/" method="GET">
    <input type="email" name="email" id="email">

    <input type="submit" value="Buscar">
</form>
{% endblock %}